<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Wolcome to the Great Number Game</h1>
    <h3>I'm thinking of a number between 1 and 100...</h3>
    <h1 style="color:red">Congratulation {{session['key']}} was the Number</h1>
    <form action="/replay" method="post">  
    <button onclick="">Replay</button>
</form>
</body>
</html>